{% extends "layout.twig" %}

{% block page_title %}doc.umentation - Home{% endblock %}

{% block navbar %}
	{% include 'navbar.twig' %}
{% endblock %}

{% block navlist %}
	{% include 'navlist.twig' %}
{% endblock %}

{% block content %}
<div class="hero-unit">
<h1>doc.umentation</h1>
	<p class="lead">A super simple app for documenting your app. Built with the Slim microframework, Paris and Idiorm (a super simple ORM), the Twig template engine, and the Twitter Bootstrap front end framework.</p>
	<p>Why build doc.umentation? Because sometimes you need something quick and simple. It takes less than 5 minutes to setup and is super easy to use. If you don't need a full blown wiki or want the overhead of something like Wordpress, then doc.umentation may be for you.</p>
</div>
{% endblock %}
